<?xml version="1.0"?>
<launch>   

  <!-- Start the trajectory generation node --> 
  <node name="s30_node" pkg="s30_node" type="s30_node" output="screen">
	
    <param name="portname" type="string" value="/dev/serial/by-id/usb-FTDI_FT230X_Basic_UART_DJ00QNWX-if00-port0" />
   	
   </node>

</launch>
